.header {
    background: #FFF;
	padding: 12px 0;
	height: 65px;
  .navbar {
      padding: 0;
      .navbar-brand {
          max-width: 150px;
          padding: 0;
      }
      .rightbx {
          @include dflex;
          align-items: center;
          .form-inline {
              position: relative;
              .form-control {
                background: transparent;
                color: #064670;
                @include nofocus;
                border-color: #064670;
                border-radius: $radius10;
                padding-left: 40px;
                font-size: 18px;
                font-weight: 500;
              }
              .btn {
                  position: absolute;
                  left: 0;
                  top: 0;
                  max-width: 44px;
              }
          }
          .nav-item {
              .nav-link {
                  padding: 0 10px;
                  .notify {
                      max-width: 35px;
                  }
                  .settings {
                      max-width: 26px;
                  }
                  &.user {
                    background: #43b872;
                    border-radius: 50px;
                    height: 32px;
                    width: 32px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 600;
                  }
              }
              .dropdown-menu {
                right: 0;
                left: auto;
            }
          }
          .settings {
              margin-right: 8px;
          }
          .notify {
              .nav-item {
                  .nav-link {
                      position: relative;
                      .number {
                          height: 20px;
                          width: 20px;
                          border-radius: 50%;
                          font-size: 11px;
                          background: $red;
                          border: 2px solid $green;
                          color: $white;
                          display: inline-flex;
                          align-items: center;
                          justify-content: center;
                          position: absolute;
                          top: -1px;
                          right: 4px;
                      }
                  }
                  .dropdown-menu {
                    .no-notification {
                        text-align: center;
                    }
                  }
              }
          }
      }
      .timer {
        .nav-link {
            border: 1px solid #31a660;
            border-radius: $radius10;
            color: $white;
            @include dflex;
            align-items: center;
            background: #43b872;
            .clock {
                max-width: 22px;
            }
            span {
                font-size: 17px;
                margin: 0 0 0 8px;
                line-height: 1;
                font-weight: 500;
            }
        }
      }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B1E4C7;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #B1E4C7;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #B1E4C7;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #B1E4C7;
  }
}

.sub-header {
    background: $dark-blue;
    color: $white;
    padding: 6px 0;
    height: 52px;
    .company-name {
        p {
            font-size: 24px;
            font-weight: 600;
        }
    }
    .add-client {
        text-align: right;
        .btn {
            background: $light-blue;
            color: $white;
            border-radius: $radius10;
            font-weight: 600;
            .icon {
                margin-right: 6px;
            }
        }
    }
}
.clear-notify {
    text-align: right;
    padding: 0px 10px;
    font-size: 12px;
    span {
        background: #064670;
        color: #fff;
        padding: 2px 5px;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }
}

/*---------------Header toggle css----------*/
.actionbtns-wrapper {
    text-align: right;
  }
  .actionbtns-wrapper .btn {
    padding-bottom: 0;
    line-height: 1;
    box-shadow: none;
    padding-top: 0;
  }
  .actionbtns-wrapper .btn .icon img {
    max-width: 32px;
  }
.actionbtns-wrapper .togglebtn-holder {
    display: inline-block;
    position: relative;
    top: -5px;
}
.togglebtn-holder .ynobtn-holder .switch {
    width: 90px;
    height: 40px;
}
.togglebtn-holder .ynobtn-holder .switch .slider {
    background: #a7c2da;
    border-color: transparent;
}
.togglebtn-holder .ynobtn-holder .switch .slider:before {
    background: #FFF;
    height: 30px;
    width: 50px;
    border-radius: 50px;
    border-color: transparent;
    left: 4px;
    content: "OFF";
    color: #FD5353;
    font-weight: 600;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.togglebtn-holder .ynobtn-holder .switch input:checked ~ .slider {
    background: #43b872;
}
.togglebtn-holder .ynobtn-holder .switch input:checked ~ .slider:before {
    background: #fff;
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
    content: "ON";
    color: #43b872;
}


